{% extends 'base.html.twig' %}

{% block body %}
<ul>
    {% for task in tasks %}
        <li><a href="{{ path('task_show', {'id': task.id}) }}" {{ task.name }}>{{ task.name }}</a></li>
    {% endfor %}
</ul>
<a href={{ path('task_create', {'id': id}) }}>Create task</a>
{% endblock %}
